build/
dist/
.pytest_cache/
__pycache__/
garage.egg-info

###################################
########### Jet Brains ############
.idea/

###################################
########## Visual Studio ##########
.vscode/
.vs/