[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "==20.8b1"

[packages]
pytest = "~=6.2"
pytest-watch = "~=4.2.0"
garage = {editable = true, path = "."}

[requires]
python_version = "3"

[pipenv]
allow_prereleases = true
